nav.navbar-wedding {
  background: rgba(255, 255, 255, 0.3);
}

a.navbar-brand {
  color: #000;
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

ul.navbar-nav li a {
  color: #000;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

ul.navbar-nav li a:hover {
  background: transparent;
}

span.icon-bar {
  background-color: #000;
}

ul.dropdown-menu {
  background: rgba(255, 255, 255, 0.3);
}
